# Dependencies
node_modules/

# Build output
dist/
dist-ssr/

# Vite
*.local
.vite/

# TypeScript
*.tsbuildinfo

# Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local
.env.*.local
